body {background-color:dodgerblue;text-align:center;
}

h1 {
    color:white;
}

table {
    background-color:forestgreen;border-width:2px;border-color:darkred;align-self:center;
}

h4 {
    border-color:crimson;
}

ul{
    text-emphasis: olivedrab;
}

#top {
    background-color:black;
}