body {background-color:dodgerblue;text-align:center;
}

h1 {
    color:white;
}

h4 {
    border-color:crimson;
}

ul{
    text-emphasis: olivedrab;
}

#top {
    background-color:orange;
}

table{
    background-color:forestgreen;display:inline;
}